.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@vscode/sqlite3/build/Release/vscode-sqlite3.node
!dist/@vscode/sqlite3/build/Release/vscode-sqlite3.node
!**/*.node
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
dist/@vscode/sqlite3/build/Release/.deps/**
dist/@vscode/sqlite3/build/Release/obj/**
dist/@vscode/sqlite3/build/Release/obj.target/**
dist/@vscode/sqlite3/build/Release/nothing.a
dist/@vscode/sqlite3/build/Release/sqlite3.a
dist/@vscode/sqlite3/build/Release/node-addon-api/**
